@using FinalExam.Models
@model Place
<div class="container" style="padding-top:200px;">
    <div>
        <div>
            <p>Name:<h2>@Model.Name</h2></p>
            <p>FullAddress:<h2>@Model.FullAddress</h2></p>
            <p>Description:<h2>@Model.Description</h2></p>
            <p>City:<h2>@Model.City.Name</h2></p>
        </div>
    </div>
    <img style="width:200px; height:200px;" src="~/uploads/places/@Model.ImageUrl" />
</div>